*{
    padding: 0;
    margin: 0;
   
}
/* .total{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
} */
